<html>
    <head>
        <title>page not found</title>
    </head>
    <body>
        <center>
            {{courses2.id}}
                <h1>uh-oh...</h1>
                <h2>the page you are looking for may have been moved,deleted<br>
                    or possibily never exist.</h2>
            <style>
                .big-pink-shadow-text {
                    font-size: 6rem; 
                    color: #ffb6c1; 
                    font-weight: bold; 
                    text-align: center; 
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); 
                }
            </style>
               
        <body>
                    <h3 class="big-pink-shadow-text">404</h3>
        </center>
    </body>






            


</html>            